.containerChat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  height: 75%;
  width: 60%;
  box-shadow: 0 1rem 0.5rem rgba(33, 33, 33, 0.1);
}

@media (max-width: 480px) {
  .containerChat {
    width: 95%;
  }
}
