.chatBar {
  padding: 1rem;
  background-color: #212121;
  color: #fff;
  font-size: 1.2rem;

  display: flex;
  justify-content: space-between;
}

.chatBar__link:link,
.chatBar__link:visited {
  text-decoration: none;
  background-color: #fff;
  color: red;
  padding: 0.5rem;
  border-radius: 1rem;
}
