.inputForm {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

.input {
  width: 49vw;
  font-size: 1.5rem;
  font-family: inherit;
  color: #212121;
  padding: 1.2rem 2rem;
  border: 3px solid #ffc107;
  border-radius: 1rem;

  transition: all 0.2s;
}

.input:focus {
  outline: none;
  border: 3px solid #009688;
  transform: translateX(1.5px);
}

.btn-form {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.2rem 2rem;
  background-color: #009688;
  color: #fff;
  border-radius: 1rem;

  transition: all 0.2s;
}

.btn-form:hover {
  cursor: pointer;
  transform: scaleX(1.1);
}
